main {
    font-family: 'Tinos', serif;
}

main > div:last-child {
    font-weight: bold;
} 

div {
    margin-top: 15px;
    margin-bottom: 15px;
}

main > div:last-child > div > div > div:nth-child(3) > div {
    text-align: center;
    font-weight: normal;
} 

main > div:last-child > div > div > div:nth-child(3) {
    align-items: center;
} 

main > div:last-child > div > div > div:nth-child(3) > div:last-child {
    font-size: 20px;
    font-weight: bold;
} 

main > div:last-child > div > div > div:nth-child(4) > div > a {
    background: #9e121b;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: normal;
}

main > div:last-child > div > div > div:nth-child(4) > div {
    text-align: center;
} 

.click-me {
    text-decoration: none;
    padding: 0.4em 0.8em;
}​ 

main > div > div:last-child > p {
    padding-left: 15px;
    padding-right: 15px;
}

main > div:first-child {
    background: #f3f3f3;
    align-items: baseline;
}

main > div:first-child > form:first-child > input {
    border-radius: 5px;
}

main > div:last-child > div > div > div:first-child {
    color : #9e121b;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 15px;
}

main > div:last-child > div > div {
    background: #f3f3f3 ;
    margin: 15px;
    border-radius: 10px;
}

main > div:last-child {
    margin-top: 50px;
}

main > div:nth-child(2) > div > div > div:nth-child(2) > img {
    width: 20%;
} 

main > div:last-child > div > div > div:nth-child(2) {
    text-align: center;
}

#case {
    border : 1px solid grey;
    background: white;
}